<div class="container">
  <div class="row mt-5">
    <div class="col-5 offset-md-1">
      <span class="bg-light px-4 h5">商品一覧</span>
    </div>
    <div class="col-5 text-right">
      <%= link_to(new_admin_item_path, class: "") do %>
        +
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table border-bottom">
        <thead class="bg-light">
    　     <tr>
            <th class="col-1">商品ID</th>
            <th class="col-3">商品名</th>
            <th class="col-1">税抜価格</th>
            <th class="col-3">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>
        <tbody class="table-borderless">
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td>
                <u>
                  <%= link_to(admin_item_path(item.id), class: "text-dark") do %>
                    <%= item.name %>
                  <% end %>
                </u>
              </td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active == true %>
                  <p class="text-success"><b>販売中</b></p>
                <% elsif item.is_active == false %>
                  <p class="text-black-50"><b>販売停止中</b></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>