<div class="container">
  <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
  <div class="col-md-8 offset-md-1">
    <%= form_with model: [:admin, @customer] do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <td><span>会員ID</span></td>
            <td><%= @customer.id %></td>
          </tr>
          <div class="field">
            <tr>
              <td><span>氏名</span></td>
              <td><%= f.text_field :last_name %></td>
              <td><%= f.text_field :first_name %></td>
            <tr>
          </div>
          <div class="field">
            <tr>
              <td><span>フリガナ</span></td>
              <td><%= f.text_field :last_name_kana %></td>
              <td><%= f.text_field :first_name_kana %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td><span>郵便番号</span></td>
              <td><%= f.text_field :postal_code %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td><span>住所</span></td>
              <td><%= f.text_area :address %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td><span>電話番号</span></td>
              <td><%= f.text_field :telephone_number %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td><label>メールアドレス</label></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
          </div>
          <div class="field">
            <tr>
              <td><span>会員ステータス</span></td>
              <td>
               <%= f.radio_button :is_deleted, value: false %>
                <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
            
                <%= f.radio_button :is_deleted, value: true %>
                <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
      <div class="form group">
        <%= f.submit '変更を保存', class:"btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>