<div class="container">
  <div class="row pt-3">
    <div class="col-md-8 offset-md-1">
      <h5><span class="bg-light">　会員一覧　</span></h5>
    </div>
    <div class="col-md-8 offset-md-1 mx-auto mt-2">
      <table class="table table-sm border-bottom">
        <thead class="bg-light">
          <tr>
            <th></th>
            <th>会員ID</th>
            <th><u>氏名</u></th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td></td>
            <td><%= customer.id %></td>
            <td>
              <u>
                <%= link_to(admin_customer_path(customer.id), class: "text-dark") do %>
                  <%= customer.last_name %><%= customer.first_name %>
                <% end %>
              </u>
            </td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
                <p class="text-success"><b>有効</b></p>
              <% else %>
                <p class="text-black-50"><b>退会</b></p>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>