<div class="container">
  <h5>注文履歴詳細</h5>
  <div class="row">
    <div class="col-lg-12 offset-md-1">
      <table>
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>購入者</th>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at %></td>
          </tr>
          <tr>
            <th colspan="2">配送先</th>
            <td><%= @order.postal_code %><%= @order.address %></td>
            <td><%= @order.name %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method %></td>
          </tr>
          <%= form_with model: [:admin, @order] do |f| %>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= f.select :status, Order.all.map {|order| [order.status, order.id]}, {include_blank: "--選択してください--"} %>
            </td>
            <td><%= f.submit '更新', class:"btn btn-success" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <table class="table col-lg-8">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th colspan="2">製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.item.name %></td>
          <td><%= order.cart_item.post_tax_price %></td>
          <td><%= order.cart_item.amount %></td>
          <td><%= order.cart_item.total_price %></td>
          <td>
            <%= f.select :making_status, Order_detail.all.map {|order_detail| [order_detail.making_status, order_detail.id]}, {include_blank: "--選択してください--"} %>
          </td>
          <td><%= f.submit '更新', class:"btn btn-success" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col-lg-4">
      <table>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= (order.total_price).to_i %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= (order.shopping_cost).to_i %>円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td><%= (order.claim_price).to_i %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= paginate @orders %>
  </div>
</div>