<div class="container">
  <h5><span class="bg-light mt-3">　配送先登録/一覧　</span></h5>
  <div class="row mt-3">
    <div class="col-10 mt-3">
    <%= form_with model: @address do |f| %>
      <table class="table-borderless">
        <tbody>
          <tr>
            <td class="col-3">郵便番号（ハイフンなし）</td>
            <td class="col-3"><%= f.text_field :postal_code, placeholder: '0000000', class: "form-control border-dark" %></td>
          </tr>
          <tr>
            <td class="col-3">住所</td>
            <td colspan="2" class="col-6"><%= f.text_field :address, placeholder: '東京都渋谷区代々木神園町0-0', class: "form-control border-dark" %></td>
          </tr>
          <tr>
            <td class="col-3">宛名</td>
            <td class="col-3"><%= f.text_field :name, placeholder: '令和道子',　class: "form-control border-dark" %></td>
            <td class="col-4"></td>
            <td class="col-2"><%= f.submit '　新規登録　', class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-8 mt-3">
      <table class="table table-bordered border-dark">
        <thead class="bg-light">
          <tr></tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to("編集する", edit_address_path(address.id), method: :delete, class: "btn btn-success") %>
              <%= link_to("削除する", addresses_path, method: :delete, class: "btn btn-danger mx-2") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <div>
  </div>
</div>