<div class="container">
  <h5><span class="bg-light">　新規会員登録　</span></h5>
  <div class="row mt-5">
    <div class="col-md-10">
      <%= form_with model: @customer, url: customer_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
        <table class="table table-borderless table-sm">
          <tbody>
            <tr>
              <td><label>名前</label></td>
              <td>(性)</td>
              <td><%= f.text_field :last_name, class: "form-control border-dark" %></td>
              <td></td>
              <td>(名)</td>
            <td><%= f.text_field :first_name, class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>フリガナ</label></td>
              <td>(セイ)</td>
              <td><%= f.text_field :last_name_kana, class: "form-control border-dark" %></td>
              <td></td>
              <td>(メイ)</td>
              <td><%= f.text_field :first_name_kana, class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>メールアドレス</label></td>
              <td></td>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>郵便番号(ハイフンなし)</label></td>
              <td></td>
              <td><%= f.text_field :postal_code, class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>住所</label>
              </td>
              <td></td>
              <td colspan="4"><%= f.text_field :address, class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>電話番号(ハイフンなし)</label></td>
              <td></td>
              <td><%= f.text_field :telephone_number, class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>パスワード(６文字以上)</label></td>
              <td></td>
              <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control border-dark" %></td>
            </tr>
            <tr>
              <td><label>パスワード(確認用)</label></td>
              <td></td>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border-dark" %></td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-3 offset-md-4">
          <%= f.submit '新規登録', class:"btn btn-success btn-block" %>
        </div>
      <% end %>
      <h5><span class="bg-light">　既に登録済みの方　</span></h5>
      <p class="mx-5"><u><%= link_to "こちら", new_customer_session_path %></u>　からログインしてください。</p>
    </div>
  </div>
</div>