<div class="container">
  <div class="offset-md-1 mt-5">
    <span class="bg-light px-4 h5">注文情報確認</span>
  </div>
  <div class="row mt-2">
    <div class="col-8 mr-3">
      <table class="table table-bordered border-dark">
        <thead class="bg-light">
          <tr>
            <td class="col-6">商品名</td>
            <td class="col-2">単価（税込）</td>
            <td class="col-2">数量</td>
            <td class="col-2">小計</td>
          </tr>
        </thead>
      <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <th><%= cart_item.item.name %></th>
            <th><%= cart_item.item.with_tax_price.to_s(:delimited) %></th>
            <th><%= cart_item.amount %>
            </th>
            <th><%= cart_item.subtotal.to_s(:delimited) %></th>
            <% @total_price += cart_item.subtotal %>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="col-5 bg-light">送料</td>
            <th class="col-5"><%= @order.shopping_cost.to_s(:delimited) %></th>
          </tr>
          <tr>
            <td class="bg-light">商品合計</td>
            <th><%= @total_price.to_s(:delimited) %></th>
          </tr>
          <tr>
            <td class="bg-light">請求金額</td>
            <th><%= (@total_payment += @total_price).to_s(:delimited) %></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <h5 class="mt-4"><b class="mr-4 mt-5">支払方法</b><%= @order.payment_method_i18n %></h5>
      <div class="form-inline mt-5">
        <h5><b class="mr-4">お届け先</b></h5>
        <h5><%= @order.address_display %><br><%= @order.name %></h5>
      </div>
    </div>
    <div class="col-12 text-center mt-5 mb-5">
      <%= form_with model: @order, url: orders_path, method: :POST, local: true do |f| %>
        <%= f.hidden_field :customer_id %>
        <%= f.hidden_field :postal_code %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :total_payment, value: @total_payment %>
        <%= f.hidden_field :payment_method %>
        <%= f.hidden_field :status,  value: Order.statuses.key(0) %>
        <%= f.submit "注文を確定する", class: "btn btn-lg btn-success px-4" %>
      <% end %>
    </div>
  </div>
</div>