<div class="container">
  <h5><span class="bg-light px-4 mt-3">注文情報確認</span></h5>
  <div class="row mt-2">
    <div class="col-8">
      <table class="table table-bordered border-dark">
        <thead class="bg-light">
          <tr>
            <td>商品名</td>
            <td>単価（税込）</td>
            <td>数量</td>
            <td>小計</td>
          </tr>
        </thead>
      <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <th class="col-5"><%= cart_item.item.name %></th>
            <th><%= cart_item.item.with_tax_price.to_s(:delimited) %></th>
            <th><%= cart_item.amount %>
            </th>
            <th><%= cart_item.subtotal.to_s(:delimited) %></th>

            <% @total_price += cart_item.subtotal %>
          </tr>
        </tbody>
      <% end %>
      </table>
      <div class="col-3">
        <table class="col-3 table table-bordered">
          <tbody>
            <tr>
              <td class="col-3 bg-light">送料</td>
              <th class="col-3"><%= @order.shopping_cost.to_s(:delimited) %></th>
            </tr>
            <tr>
              <td class="col-3 bg-light">商品合計</td>
              <th class="col-3"><%= @total_price.to_s(:delimited) %></th>
            </tr>
            <tr>
              <td class="col-3 bg-light">請求金額</td>
              <th class="col-3"><%= (@total_payment += @total_price).to_s(:delimited) %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div>
    <p class="h5"><b>支払方法　</b><%= @order.payment_method_i18n %></p>
    <p class="h5 mt-5"><b>お届け先　</b><%= @order.address_display %></p>
  </div>
  <div class="text-center">
    <%= form_with model: @order, url: orders_path, method: :POST, local: true do |f| %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :total_payment, value: @total_payment %>
      <%= f.submit "注文を確定する", class: "btn btn-lg btn-success px-4" %>
    <% end %>
  </div>
</div>