<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <span>LOGO</span>
            </a>
            <div class="nav flex-column">
              <ul class="nav-list navbar-nav justify-content-end ">
              <% if customer_signed_in? %>
                <li class="nav-list-item">
                  <%= link_to customers_my_page_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    マイページ
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to items_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    商品一覧
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to cart_items_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    カート
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to destroy_customer_session_path, method: :delete, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-list-item">
                  <%= link_to admin_items_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    商品一覧
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to admin_customers_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    会員一覧
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to admin_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    注文履歴一覧
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to admin_genres_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    About
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class="nav-list-item">
                  <%= link_to about_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    About
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to items_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    商品一覧
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to new_customer_registration_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    新規登録
                  <% end %>
                </li>
                <li class="nav-list-item">
                  <%= link_to new_customer_session_path, class: "btn btn-outline-light text-dark mt-3 mb-2 mx-4" do %>
                    ログイン
                  <% end %>
                </li>
              <% end %>
              </ul>
              <div class="justify-content-end">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
