<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <span>LOGO</span>
            </a>
            <div class="nav flex-column">
              <ul class="nav-list navbar-nav justify-content-end ">
              <% if customer_signed_in? %> 
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/customers/sign_out">ログアウト</a>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/admin/items">商品一覧</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/admin/customers">会員一覧</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/admin">注文履歴一覧</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/admin/genres">About</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/admin/sign_out">ログアウト</a>
                </li>
              <% else %>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/about">About</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/items">商品一覧</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/customers/sign_up">新規登録</a>
                </li>
                <li class="nav-list-item">
                  <a class="btn btn-outline-light text-dark mt-3 mb-2 mx-4" href="/customers/sign_in">ログイン</a>
                </li>
              <% end %>
              </ul>
              <div class="justify-content-end">
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
